<p id="notice"><%= notice %></p>

<p>
  <strong>Category name:</strong>
  <%= @content.category_name %>
</p>

<p>
  <strong>Category description:</strong>
  <%= @content.category_description %>
</p>

<p>
  <strong>Images:</strong>
  <%= @content.images %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @content.admin_id %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
