<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "vendor/modernizr" %>
  </head>

  <body>


  <div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%">
      <div class="title-bar-left">
            <ul class="menu">
              <li class="name"><a href="/"><%= image_tag( "logo.png", height: '1')  %></a></li>
              
            </ul>

      </div>
         
        
      <div class="title-bar-right ">
          <ul class="dropdown menu  " data-dropdown-menu>
            <li>
              <a href="#">One</a>
              <ul class="menu vertical">
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
              </ul>
            </li>
            <li>/</li>
            <li><%= link_to "New", new_user_registration_path %></li>
            <li>/</li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
            <li><% if current_user %>
              <%= link_to "Log out", destroy_user_session_path ,method: :delete %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    </div>


    <%= yield %>

    <div id="footer">
      <div class="row">
        <div class="large-12 column">
         <p>footer</p>
        </div>
      </div>
    </div>
  </body>
</html>
